input.js-directions-from type="hidden" value="#{widget.directions_from}"
input.js-directions-to type="hidden" value="#{widget.directions_to}"
input.js-directions-mode type="hidden" value="#{widget.directions_mode}"
