input.js-location-full-name type="hidden" value="#{widget.location_full_name}"
input.js-location-name type="hidden" value="#{widget.location_name}"
input.js-location-lat type="hidden" value="#{widget.location_lat}"
input.js-location-lon type="hidden" value="#{widget.location_lon}"